// Style sheet for landing page
h1,
h3,
p {
  width: fit-content;
  margin: auto;
}

.ui-container {
  width: 95vw;
  padding-top: 1.5rem;
  margin: auto;
}

.image-selection-container {
  display: inherit;
  width: 100%;
  max-width: 375px;
  margin: auto;

  .reference-images {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .image-slider {
    display: grid;
    width: 350px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 5px;
    scroll-snap-align: start none;

    .image-slide {
      border-radius: 10px;
      scroll-snap-align: none center;
    }
  }

  .image-uploader {
    padding-top: 15px;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    margin: auto;
    position: static;

    label {
      display: flex;
      width: fit-content;
      background-color: rgba(169, 169, 169, 0.25);
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      margin: auto;

      input[type="file"] {
        display: none;
      }
    }
  }
}
.selection-reviews-container {
  display: inline-grid;
  grid-auto-columns: 50% 50%;
  width: 100%;
  max-width: 450px;
  margin: auto;
}
