// Style sheet for landing page
h1,
h3,
p {
  width: fit-content;
  margin: auto;
}

button,
span {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
}

.ui-container {
  width: 95vw;
  padding-top: 1.5rem;
  margin: auto;
}

.image-selection-container {
  display: inherit;
  width: 100%;
  max-width: 375px;
  margin: auto;

  .reference-images {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  .image-slider {
    display: grid;
    width: 350px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 5px;
    scroll-snap-align: start none;

    .image-slide {
      scroll-snap-align: none center;

      button > img {
        border-radius: 10px;
      }
    }

    .image-slide button {
      border: 3px solid transparent; /* Default */
      transition: border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    }

    .image-slide button.selected {
      border-color: #04bff8; /* Or a color that matches your design */
      transform: scale(1.05); /* Slight zoom to make it pop */
    }
  }
}

.image-upload-container {
  padding-top: 15px;
  width: 100%;
  max-width: 350px;
  height: fit-content;
  margin: auto;
  position: static;

  .image-uploader {
    display: flex;
    max-width: 250px;
    height: fit-content;
    background-color: rgba(169, 169, 169, 0.25);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: auto;

    span {
      width: fit-content;
      margin: auto;
    }

    input[type="file"] {
      position: absolute;
      max-width: inherit;
      height: inherit;
      opacity: 0;
      cursor: pointer;
    }
  }

  .uploaded-image-review {
    max-height: 481px;
    overflow: hidden;
  }
}

.image-generation-container {
  display: flex;

  .image-generator {
    width: 255px;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(169, 169, 169, 0.25);
    margin: auto;
  }
}
