<!-- Landing page -->

<div class="ui-container">
  <h1>Go ahead. Try it on.</h1>
  <br />
  <p>Select a reference image</p>
  <br />

  <section class="image-selection-container">
    <div class="reference-images">
      <div class="image-slider">
        <div
          *ngFor="let image of reference_images; index as i"
          class="image-slide"
        >
          <button
            [class.selected]="selectedImage === image"
            (click)="selectImage(reference_images[i])"
          >
            <img [src]="image" />
          </button>
        </div>
      </div>
    </div>

    <div class="image-upload-container" *ngIf="hasSelectedImage">
      <h3>Upload a selfie.</h3>
      <p>
        For best results make sure to use an image with a simple pose, avoid
        crossing arms over body and that you are in a well light environment and
        that your body is free of shadows.
      </p>

      <br />
      <div class="image-uploader">
        <span>Click to upload image</span>
        <input
          type="file"
          (change)="uploadImage($event)"
          accept="image/*"
          id="imageUploader"
          name="imageUploader"
        />
      </div>
      <br />

      <div class="uploaded-image-review">
        <img [src]="uploadedImage" />
      </div>
    </div>
  </section>
  <br />
  <section class="image-generation-container" *ngIf="hasFinishedSelections">
    <button (click)="generateImage()" class="image-generator">
      <span>Let see the bride!</span>
    </button>
  </section>
  <br />
</div>

<!-- This should be a the 'review' step. -->
